#title{
	font-size: 60px;
	font-family: fantasy;
}
#body{
	font-size: 30px;
	color: red;
	font-family:monospace;
}
#note{
	font-size: 20px;
	font-family:monospace;
}
#links{
	font-size:30px;
}
#info{
	font-size: 20px;
	font-family:monospace;
}
