<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="icon"  href="static/redFish.ico">
	<script language="javascript" type="text/javascript" src="jquery-1.8.3.js"></script>

	<title>Rainbow</title>
	<h1
</head>
	<div id= "title">
<body style="background-color:lightblue">




<h1 style="background-color:lightgreen">Rainbow Trout Page <li class="navitem">
	<a href="/brownTrout"> Brown Trout</a>
</li> </h1>

	</div>
<div id = "body">
<p>Here is a picture of a raibow trout.</p>
</div>
<button type="button">Click For Stealhead</button>
<img src="static/trout.jpg" height="300" width="900">

</body>

</html>
