<!DOCTYPE html>
<html>
<head>
	<title>Rainbow</title>
		<!-- link to css-->
	<link rel="stylesheet" type="text/css" href="static/style.css">
		<!-- link to favicon-->
	<link rel="icon"  href="static/redFish.ico">
</head>


	<div id= "title">
		<!--total background -->
<body style="background-color:lightblue">
	<!--header -->
<h1 style="background-color:lightpink">Rainbow Trout Page <li class="navitem">
	<a href="/brownTrout"> Brown Trout</a>
</li> </h1>

	</div>
<div id = "body">
<p>Here is a picture of a raibow trout.</p>
</div>

<script language="javascript" type="text/javascript" src="Java.js"></script>
	<!-- body paragraph-->
<img src="static/trout.jpg" height="300" width="900">

</body>

</html>
